<%= render 'add_folder' %>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class='text-center'>ファイル名</th>
        <th class='text-center'>備考</th>
      </tr>
    </thead>

    <% resources.each do |folder| %>
      <tbody>
        <tr>
          <td>
            <%= link_to folder do %>
              <i class='glyphicon glyphicon-folder-close'></i>
              <%= folder.name %>
            <% end %>
          </td>
          <td><%= folder.description %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
