// -----------------------------------
// Webサイト全体のスタイリング調整
// -----------------------------------
body {
  font-size: 15px;
  color: #565a5c;
  background-color: #F8F8F8;
  font-family: "Varela Round", "Helventica Nenue", "Helventica";
  background: whitesmoke;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

// -----------------------------------
// テーブルのスタイリング
// -----------------------------------
tr td {
  line-height: 1.5;
}

ul.table-add-list { list-style: none; }

// -----------------------------------
// toastrのスタイリング
// https://github.com/tylergannon/toastr-rails
// -----------------------------------
.toast-message {
  display: false;
}

.toast-error {
  background-color: #333333 !important;
  border-bottom: inset 3px #FFFFCC;
}

.toast-info {
  border-bottom: inset 3px #FFFFCC;
}
