body {
  font-size: 15px;
  color: #565a5c;
  background-color: #F8F8F8;
  font-family: "Varela Round", "Helventica Nenue", "Helventica";
}

// -----------------------------------
// toastrのスタイリング
// https://github.com/tylergannon/toastr-rails
// -----------------------------------
.toast-error {
  background-color: #333333	;
  border-bottom: inset 3px #FFFFCC;
}

.toast-info {
  border-bottom: inset 3px #FFFFCC;
}
