<div id="l-side-nav">
  <a href="#" class="js-l-side-nav-toggle l-side-nav-toggle"><i></i></a>
  <aside id="l-side-aside">
    <nav id="l-side-main-menu">
      <ul>
        <li><%= link_to 'Home', root_path %></li>
      </ul>
    </nav>
  </aside>
</div>
