<ul class='clearfix table-add-list'>
  <li style='float: right; margin: 0 30px 0 0;'>
    <a href="<%= new_room_document_path(resource) %>"
      data-remote='true' class='btn btn-primary' style='margin: 20px 0;'
      data-toggle="tooltip" data-placement="top"
      title='新しくファイルを作成します'>
      + <i class='glyphicon glyphicon-copy' style='font-size: 18px;'></i>
    </a>
  </li>
</ul>
<div id='document-modal' class='modal fade' tabindex='-1' role='dialog' aria-hidden='true'></div>
