<div class="row">
  <% if user_signed_in? %>
    <div class="col-sm-4">
      <%= render 'shared/left_side_nav' %>
    </div>
    <div class="col-sm-8"><%= yield %></div>        
  <% else %>
    <%= yield %>
  <% end %>
</div>
